<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
    <TITLE>Diff, Match and Patch: Demo of Diff</TITLE>
</HEAD>

<BODY>
    <H1>Diff, Match and Patch</H1>
    <H2>Demo of Diff</H2>

    <P>
        Diff takes two texts and finds the differences.  This implementation works on a character by character basis.
        The result of any diff may contain 'chaff', irrelevant small commonalities which complicate the output.
        A post-diff cleanup algorithm factors out these trivial commonalities.
    </P>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

    <script src="~/js/diff_match_patch_uncompressed.js"></script>

    <SCRIPT>










        var addition = 0;
        var _delete = 0;

        diff_prettyHtml = function (diffs) {
            var html = [];
            var pattern_amp = /&/g;
            var pattern_lt = /</g;
            var pattern_gt = />/g;
            var pattern_para = /\n/g;
            for (var x = 0; x < diffs.length; x++) {
                debugger;
                var op = diffs[x]['operation'];    // Operation (insert, delete, equal)
                var data = diffs[x]['text'];  // Text of change.
                var text = data.replace(pattern_amp, '&amp;').replace(pattern_lt, '&lt;')
                    .replace(pattern_gt, '&gt;').replace(pattern_para, '&para;<br>');
                switch (op) {
                    //case DIFF_INSERT:
                    //  html[x] = '<ins style="background:#e6ffe6;">' + text + '</ins>';
                    //  break;
                    case DIFF_DELETE:
                        html[x] = '<del style="background:red;">' + text + '</del>';
                        _delete += 1
                        break;
                    case DIFF_EQUAL:
                        html[x] = '<span>' + text + '</span>';
                        break;
                }
            }
            return html.join('');
        };




        diff_prettyHtml1 = function (diffs) {
            var html = [];
            var pattern_amp = /&/g;
            var pattern_lt = /</g;
            var pattern_gt = />/g;
            var pattern_para = /\n/g;
            for (var x = 0; x < diffs.length; x++) {
                debugger;
                var op = diffs[x]['operation'];    // Operation (insert, delete, equal)
                var data = diffs[x]['text'];  // Text of change.
                var text = data.replace(pattern_amp, '&amp;').replace(pattern_lt, '&lt;')
                    .replace(pattern_gt, '&gt;').replace(pattern_para, '&para;<br>');
                switch (op) {
                    case DIFF_INSERT:
                        html[x] = '<ins style="background:green;">' + text + '</ins>';
                        addition += 1;
                        break;
                    //case DIFF_DELETE:
                    //    html[x] = '<del style="background:#ffe6e6;">' + text + '</del>';
                    //    break;
                    case DIFF_EQUAL:
                        html[x] = '<span>' + text + '</span>';
                        break;
                }
            }
            return html.join('');
        };




        function escapeXML(string){

    var str = string;
    str = str.replace(/\&/g,"&amp;");
    str = str.replace(/\>/g,"&gt;");
    str = str.replace(/\</g,"&lt;");
    str = str.replace(/\"/g,"&quot;");
    str = str.replace(/\'/g,"&apos;");

    return str;
}




        function launch() {
            var text1 = document.getElementById('text1').value;
            var text2 = document.getElementById('text2').value;

            var processText1 = escapeXML(text1);
            var processText2 = escapeXML(text2);
            var textdata = '<JobModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><JobClass><Job><title>' + processText1 + '</title><description></description></Job><Job><title>' + processText2 + '</title><description></description></Job></JobClass></JobModel>';
            debugger;
            $.ajax({
                url: "../../Home/Diff",
                type: "POST",
                processData: false,
                data: textdata,
                contentType: "text/xml",
                success: function (response, textStatus, jqXHR) {
                    debugger;
                    var obj = JSON.parse(response);
                    var d = obj;
                    var ds = diff_prettyHtml(d);
                    var newText = diff_prettyHtml1(d);

                    document.getElementById('outputdiv').innerHTML = ds
                    document.getElementById('newdiv').innerHTML = newText
                    document.getElementById('addition').innerHTML = addition
                    document.getElementById('delete').innerHTML = _delete

                },
                error: function (jqXHR, textStatus, errorThrown) {

                }
            });
        };
    </SCRIPT>

    <FORM action="#" onsubmit="return false">
        <TABLE WIDTH="100%">
            <TR>
                <TD WIDTH="50%">
                    <H3>Text Version 1:</H3>
<TEXTAREA ID="text1" STYLE="width: 100%" rows="10"></TEXTAREA>
                </TD>
                <TD WIDTH="50%">
                    <H3>Text Version 2:</H3>
<TEXTAREA ID="text2" STYLE="width: 100%" rows="10"></TEXTAREA>
                </TD>
            </TR>
        </TABLE>






        <P><INPUT TYPE="button" onClick="launch()" VALUE="Compute Diff"></P>
    </FORM>

    <div class="row">

        <div class="col-md-6"><span id="delete"></span>Deletions</div>
        <div class="col-md-6">
            <span id="addition"></span> Additions
        </div>


    </div>

    
    <div class="row">
        <DIV ID="outputdiv" class="col-md-6"></DIV>

        <DIV ID="newdiv" class="col-md-6"></DIV>
    </div>

    <HR>


</BODY>
</HTML>
